<h1> Edit Here :: </h1> 

<div>
    <button *ngIf="property.bold==true" id="jBold" mat-button (click)="onBold()" ><i class="glyphicon glyphicon-bold" ></i></button>
    <button *ngIf="property.italic==true" id="jitalic" mat-button (click)="onItalics()" ><i class="glyphicon glyphicon-italic"></i></button>
    <button *ngIf="property.underline==true" id="junderline" mat-button (click)="onUnderline()" >U</button>
    <div class="dropdown">
            <button *ngIf="property.fontSize==true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-font"></i></button>
            <ul class="dropdown-menu butn3">
                
                    <!-- <button class="dropdown-item" mat-button (click)="isClassVisible = !isClassVisible" [class.small]="isClassVisible" style="font-size:small" #ele >s</button> -->
                    <button class="dropdown-item" mat-button (click)="onFont('small')">s</button>
                    <button class="dropdown-item" mat-button (click)="onFont('medium')" style="font-size:large">m</button>
                    <button class="dropdown-item" mat-button (click)="onFont('large')" style="font-size:large">l</button>
                    <button class="dropdown-item" mat-button (click)="onFont('default')"></button>
        
                </ul>
                </div>
    <div class="dropdown">
    <button *ngIf="property.fontColor==true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-text-color"></i></button>
        <ul class="dropdown-menu butn1" > 
            
          <button class="dropdown-item" *ngFor="let col of coloritems" [value]="col" mat-button (click)="onColor(col)" [style.background-color]="col"></button>
          <button class="dropdown-item" mat-button (click)="onColor('default')"></button>

        </ul>
    </div>
    <div class="dropdown">
    <button *ngIf="property.link==true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-link"></i></button>
    <ul class="dropdown-menu butn2">
        <input #url placeholder="URL" ><br>
        <input #text placeholder="text to display" ><br>
        <input  type="checkbox" (change)="edittarget()" >Open in new tab<br>
        <input type="button" value="Insert" (click)="onInsert(url.value,text.value)">
        <!-- <button mat-button (click)="onInsert(url.value,text.value)" >Insert</button> -->
        </ul>
        </div>
        <button *ngIf="property.viewCode==true" mat-button (click)="onCodeview()">View</button>

        <div id='contentedit'  *ngIf = "code" contenteditable="true" style="height:100px;width:200px; border:2px solid black"
        [innerText]="editorCodeView"></div>
    <br>
    
</div><br><br>
 
<div id='contentedit' contenteditable="true" style="height:100px;width:200px; border:2px solid black" >

</div>